# ALZML

The goal of this project is to use publically available datasets construct a classifier to determine the features that confer Alzheimer's Disease. To do so we are combining SNP data with metadata to generate a feature rich dataset. 

First we will identify ROIs from SNP data that are known to be involved in AD. From there, adjacent features will be extracted to serve as a feature profile of the ROI. Once all ROIs have been profiled we will then run a heirarchical clustering algorithm to determine distinguishing features of these ROIs.

From these features we are hoping to construct an HMM that will be able to identify some of the underrepresented variants that may confer AD. 

Data are sourced from:
- gnomad
- IGAP
- TBI Study
- Zou eGWAS
- Mayo eGWAS
- NG00061
- NG00039

IGAP data will be used as the determinant for a ROI. A +/- 5kb region from the location of the SNP will serve as an anchor to gather local features using bedtools in order to retain positional information.

### Only run bash block if files need to be parsed properly (shouldn't happen)

In [1]:
%%bash
#head -n 10 ng00061/WES_release3AtlasOnly_vep80_most_severe_consequence_per_gene.txt
# These have different numbers of columns of course. Need to fix this maybe? Will only use the coordinates from this
# for now, this is the primary key to link all the other datasets.
#head -n 10 ng00061/WES_release3AtlasOnly_rolling_flat_annotation.txt
#cut -f1-5 WGS_v1_rolling_flat_annotation.txt > WGS_v1_rolling_flat_annotation.pos_only.txt

#head -n 10 ../IGAP_summary_statistics/IGAP_stage_1_2_combined.txt

# I will join all of the chromosomes into one file.
#cat /home/twaddlac/Hackthan_AD/ng00039/pvalue_only/metaanalysis/pvalueonly_METAANALYSIS1_chr*.TBL | perl -pe 's/^(\d+)-(\d+)/$1\t$2/g' > pvalue_only.tsv
#head -n 10 ../pvalue_only.tsv

#I'm not sure what the difference is between these but I am assuming we get the inverse of controls here.
# We will use the controls for a confusion matrix
#ls /data/Hackthan_AD/Mayo_eGWAS/
#head /data/Hackthan_AD/Mayo_eGWAS/Hap300_CER_All.txt

# Only going to use the coordinates of the annotation files since they have mismatching columns.
##### Only run this once #####
#cut -f1-5 /data/Hackthan_AD/NG00061/WGS_v1_rolling_flat_annotation.txt > /data/Hackthan_AD/NG00061/WGS_v1_rolling_flat_annotation.pos_only.txt

## only need to run once
#cat <(grep -m1 '^Marker' /home/twaddlac/Hackthan_AD/ng00039/pvalue_only/pvalue/pvalueonly_METAANALYSIS1_chr10.TBL) <(cat /home/twaddlac/Hackthan_AD/ng00039/pvalue_only/pvalue/*TBL | perl -pe 's/(\d+)-(\d+)/$1\t$2/g'| grep -v '^Marker') > /home/twaddlac/Hackthan_AD/ng00039/pvalue_only/pvalue/pvalue.tsv

## IGAP Data

In [3]:
import pandas as pd
igap1 = pd.read_csv('/data/Hackthan_AD/IGAP_summary_statistics/IGAP_stage_1.txt', sep='\t')
igap12 = pd.read_csv('/data/Hackthan_AD/IGAP_summary_statistics/IGAP_stage_1_2_combined.txt', sep='\t')
igap1.rename(columns={
    'Chromosome':'chr',
    'Position':'pos'
}, inplace=True)
igap12.rename(columns={
    'Chromosome':'chr',
    'Position':'pos'
}, inplace=True)

## NG00061

In [4]:
anno = pd.read_csv('/data/Hackthan_AD/NG00061/WGS_v1_rolling_flat_annotation.pos_only.txt', sep='\t', header=0)

In [5]:
conseq = pd.read_csv('/data/Hackthan_AD/NG00061/WGS_v1_vep80_most_severe_consequence_per_gene.txt', sep='\t', header=0)

## NG00039

In [6]:
pvalue = pd.read_csv('/home/twaddlac/Hackthan_AD/ng00039/pvalue_only/pvalue/pvalue.tsv', sep='\t', header=0, index_col=False)
# pvalue.columns = ['chr','pos','allele1','allele2','pvalue']

## Mayo_eGWAS

In [7]:
hapCerAd = pd.read_csv('/home/twaddlac/Hackthan_AD/Mayo_eGWAS/Hap300_CER_AD.txt', sep='\t', header=0)
hapTxAd = pd.read_csv('/home/twaddlac/Hackthan_AD/Mayo_eGWAS/Hap300_TX_AD.txt', sep='\t', header=0)
hapmapCerAd = pd.read_csv('/home/twaddlac/Hackthan_AD/Mayo_eGWAS/HapMap2_CER_AD.txt', sep='\t', header=0)
hapmapTxAd = pd.read_csv('/home/twaddlac/Hackthan_AD/Mayo_eGWAS/HapMap2_TX_AD.txt', sep='\t', header=0)

hapCerAd.rename(columns={'CHR':'chr','BP':'pos'}, inplace=True)
hapTxAd.rename(columns={'CHR':'chr','BP':'pos'}, inplace=True)
hapmapCerAd.rename(columns={'CHR':'chr','BP':'pos'}, inplace=True)
hapmapTxAd.rename(columns={'CHR':'chr','BP':'pos'}, inplace=True)

## TBI Study Expression Data
There's a lot more data for this dataset but we can import it later.

In [7]:
ge = pd.read_csv('/home/twaddlac/Hackthan_AD/TBI_study/gene_expression_matrix_2016-03-03/fpkm_table_normalized.csv', sep=',', header=0)

# Joining Datasets
The file linking everything together will be the annotation data from NG00061 as it should hold the complete set of SNPs. I will use coordinates from this table to join.

In [8]:
headers = ['chr','pos']
temp = anno.merge(pvalue, how='left', left_on=headers, right_on=headers)

In [9]:
temp

,chr,pos,alt_allele,seq_meta_var_id,epacts_var_id,Allele1,Allele2,P-value
0,10,60494,G,"10:60494A,G",10:60494_A/G,a,g,0.32420
1,10,60523,G,"10:60523T,G",10:60523_T/G,t,g,0.37210
2,10,61331,G,"10:61331A,G",10:61331_A/G,a,g,0.75160
3,10,61334,A,"10:61334G,A",10:61334_G/A,NaN,NaN,NaN
4,10,61646,G,"10:61646A,G",10:61646_A/G,NaN,NaN,NaN
5,10,61654,A,"10:61654G,A",10:61654_G/A,NaN,NaN,NaN
6,10,61766,A,"10:61766G,A",10:61766_G/A,NaN,NaN,NaN
7,10,62450,A,"10:62450G,A",10:62450_G/A,NaN,NaN,NaN
8,10,66295,T,"10:66295C,T",10:66295_C/T,NaN,NaN,NaN
9,10,66326,G,"10:66326A,G",10:66326_A/G,a,g,0.58810
10,10,67774,C,"10:67774G,C",10:67774_G/C,c,g,0.24030
11,10,69083,T,"10:69083C,T",10:69083_C/T,t,c,0.18780
12,10,69123,A,"10:69123G,A",10:69123_G/A,NaN,NaN,NaN
13,10,71718,A,"10:71718T,A",10:71718_T/A,NaN,NaN,NaN
14,10,71776,C,"10:71776T,C",10:71776_T/C,NaN,NaN,NaN
15,10,73496,T,"10:73496C,T",10:73496_C/T,NaN,NaN,NaN
16,10,73537,A,"10:73537G,A",10:73537_G/A,NaN,NaN,NaN
17,10,73704,T,"10:73704C,T",10:73704_C/T,t,c,0.20890
18,10,73759,T,"10:73759C,T",10:73759_C/T,t,c,0.27150
19,10,74504,A,"10:74504G,A",10:74504_G/A,a,g,0.45970
20,10,74549,T,"10:74549G,T",10:74549_G/T,NaN,NaN,NaN
21,10,74568,A,"10:74568T,A",10:74568_T/A,NaN,NaN,NaN
22,10,74572,C,"10:74572G,C",10:74572_G/C,NaN,NaN,NaN
23,10,75552,A,"10:75552C,A",10:75552_C/A,a,c,0.41880
24,10,75794,T,"10:75794G,T",10:75794_G/T,t,g,0.23190
25,10,75800,T,"10:75800C,T",10:75800_C/T,t,c,0.01283
26,10,75803,C,"10:75803T,C",10:75803_T/C,t,c,0.32660
27,10,76210,G,"10:76210A,G",10:76210_A/G,a,g,0.04852
28,10,76294,C,"10:76294T,C",10:76294_T/C,t,c,0.36500
29,10,77582,G,"10:77582A,G",10:77582_A/G,a,g,0.05238
...,...,...,...,...,...,...,...,...
24832767,7,134128708,T,"7:134128708C,T",7:134128708_C/T,NaN,NaN,NaN
24832768,7,134128725,A,"7:134128725C,A",7:134128725_C/A,a,c,0.88780
24832769,7,134128816,A,"7:134128816G,A",7:134128816_G/A,NaN,NaN,NaN
24832770,7,134129006,G,"7:134129006T,G",7:134129006_T/G,t,g,0.59260
24832771,7,134129017,T,"7:134129017C,T",7:134129017_C/T,t,c,0.55110
24832772,7,134129165,A,"7:134129165C,A",7:134129165_C/A,a,c,0.89970
24832773,7,134129178,A,"7:134129178G,A",7:134129178_G/A,a,g,0.88790
24832774,7,134129323,G,"7:134129323A,G",7:134129323_A/G,a,g,0.05273
24832775,7,134129346,A,"7:134129346G,A",7:134129346_G/A,a,g,0.94760
24832776,7,134129384,T,"7:134129384C,T",7:134129384_C/T,t,c,0.86980
24832777,7,134129529,A,"7:134129529G,A",7:134129529_G/A,NaN,NaN,NaN
24832778,7,134129660,C,"7:134129660A,C",7:134129660_A/C,NaN,NaN,NaN
24832779,7,134129901,C,"7:134129901T,C",7:134129901_T/C,NaN,NaN,NaN
24832780,7,134130168,C,"7:134130168G,C",7:134130168_G/C,NaN,NaN,NaN
24832781,7,134130177,A,"7:134130177G,A",7:134130177_G/A,NaN,NaN,NaN
24832782,7,134130563,A,"7:134130563C,A",7:134130563_C/A,a,c,0.29020
24832783,7,134130669,G,"7:134130669T,G",7:134130669_T/G,t,g,0.05620
24832784,7,134130673,C,"7:134130673G,C",7:134130673_G/C,c,g,0.29240
24832785,7,134130702,T,"7:134130702C,T",7:134130702_C/T,NaN,NaN,NaN
24832786,7,134130720,G,"7:134130720A,G",7:134130720_A/G,a,g,0.16850
24832787,7,134130731,T,"7:134130731C,T",7:134130731_C/T,t,c,0.06880
24832788,7,134130828,G,"7:134130828T,G",7:134130828_T/G,t,g,0.17730
24832789,7,134130891,A,"7:134130891C,A",7:134130891_C/A,NaN,NaN,NaN
24832790,7,134131218,T,"7:134131218C,T",7:134131218_C/T,NaN,NaN,NaN
24832791,7,134131222,T,"7:134131222C,T",7:134131222_C/T,t,c,0.05575
24832792,7,134131251,A,"7:134131251T,A",7:134131251_T/A,a,t,0.88970
24832793,7,134131343,C,"7:134131343T,C",7:134131343_T/C,NaN,NaN,NaN
24832794,7,134131408,A,"7:134131408G,A",7:134131408_G/A,NaN,NaN,NaN
24832795,7,134131456,C,"7:134131456G,C",7:134131456_G/C,c,g,0.15940
24832796,7,134131907,T,"7:134131907C,T",7:134131907_C/T,t,c,0.89000

In [ ]:
# Breaks kernel. Don't run in notebook.
from functools import reduce
dataframes = [
    anno,
    pvalue,
    conseq,
    igap1,
    igap12,
    hapCerAd,
    hapTxAd,
    hapmapCerAd,
    hapmapTxAd
]
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['chr','pos'],
                                                how='outer'), dataframes).fillna('void')